<div>
	<h3>Edit Controller</h3>		
<!-- You will attach an ng-model and an ng-submit to your forms (but might want to wait until the next tab, when you have your controllers and factory) -->
	<form> 
		First Name: <input type="text" name='firstname' ng-model='updateFriend.firstname'><br><br>
		Last Name: <input type="text" name='lastname' ng-model='updateFriend.lastname'><br><br>
		Birthday: <input type="date" name='birthday' ng-model='updateFriend.birthday'><br><br>
		<input type="submit" value="Update Friend" ng-click="update()">
	</form><br>
	<button><a href="#/">Go Back</a></button>
</div>